<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="contener">
    <h1>书名:{{book.title}}</h1>
    <h1>价格:{{book.price}}</h1>
    <h1>出版时间{{book.bpub_date}}</h1>
    <h1>英雄:</h1>
    <ul>
        {% for hero in book.hero_set.all%}
            <li>
                {{hero.name}} -- {{hero.gender}} -- {{hero.content}}
                <a href="{% url 'booktest:edithero' hero.id %}">编辑</a>
                <a href="{% url 'booktest:deletehero' hero.id %}">删除</a>
            </li>
        {% endfor %}
        <a href="{% url 'booktest:addhero' book.id  %}">添加英雄</a>

    </ul>
    <div>
        <a href="{% url 'booktest:index' %}">返回上一级</a>

    </div>


</div>


</body>
</html>