<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    {% block header %}
        {% if request.user and request.user.username != '' %}
            用户名:{{request.user.username}}<a href="{% url 'polls:logout' %}">退出</a>
        {% else %}
            <a href="{% url 'polls:login' %}">登录</a><a href="{% url 'polls:regist' %}">注册</a>
        {% endif %}
    {% endblock %}
    {% block body %}
    <h1>这里是身体</h1>
    {% endblock %}
    {% block footer %}
    <a href="{% url 'polls:polls_index' %}">返回首页</a>
    {% endblock %}

</body>
</html>